{% extends "layout.html" %}

{% block title %}
    about
{% endblock %}

{% block main %}

<div style="width: 100%;  
min-height: 100vh;

justify-content:left;


padding-left: 200px;
padding-top: 150px;
padding-bottom: 200px;
background: transparent;

z-index: 1;">

<h1>The Violet Journey</h1>
<hr>
        <p style="white-space:pre-line; color:rgb(0, 0, 0);">I have a current diagnosis of PTSD, Depression and Anxiety.  2019 was one of the worst times 
            ever in my life.  It felt like a 47 year old  mid-life crisis had hit me, and I was not going to survive it.
        
            I worked in the social care profession, so my experience of social care, mental health and the 
            system, has all been part of my training and work.  I am currently deemed ‘Not fit for work’,
            which is fine for me, as the thought of working again at the moment sends me swiftly into a
            panic attack, that I have decided to try self-employment.
        
            I have set up this facebook page, YouTube channel, and Instagram as now I have experienced 
            life as a service user, the long waiting lists, assessments by DWP Capita, the arguments 
            I have had with social services in relation to the care of my niece and nephew, the stress
            of calling companies to reduce my bills, leave a lot to be desired.  It made me reflect on
            how the normal layman copes?  I was trained to know my legislation, I have also worked 
            the system so I have been lucky enough to be able to string a reasonable argument.  
            I have supportive friends and family, but what happens to those that do not?
        
        
            I am hoping these sites can act as a lifeline, an in-between stop gap of self-help
            for those that need advice, are waiting in long lists for counselling/therapy, for
            those willing to support others, or for those wanting to learn more about holistic
            and alternative therapies.  My colleague Cheryl will be giving talks and lessons 
            in a range of therapies, you could use on yourself.  I will be giving tarot 
            lessons and readings.  There will be debates about the current state of affairs
            and how you can overcome any issues, or we can signpost you to an organisation
            that can support you if we cannot.  I will be discussing child mental health,
            as they are just as important as our future.
        
        
            My blog will be done via weekly inserts, and will be based on my story.
            I will be dissecting a formulation of my life, and tearing it apart using
            the psychological theories, as to how any form of trauma, could cause issues
            later in life, and why we act the way we do.  I hope you the reader will be
            able to relate to aspects and it may help you in your journey.


            I would like the sites to be as interactive as possible, that is what community
            is all about.  And moving forward with technology, our community can now widen
            to include the whole world, and I have found this so useful, and an enjoyable
            experience (however internet safety is a must, and will be discussed further
            at a later date).


            I wish you all the best in your recovery, or if you are supporting someone theirs.
            If this site just helps a bit, it would all have been worth it.  Everyone at some
            point in their life needs support, love and not to be judged in moving forward on
            their journey, so if you are responding to anyone, please be nice about it, and respect
            others views.  If anyone is offensive they will be immediately blocked.

            I thank all of you readers, and those whom have shown me support. 

            So let the journey begin. 


            You can find me on YouTube: @divaexplorer-The Violet Journey (TVJ), Tripadvisor:
            Divaexplorer, fb.me/divaexplorer, Intragram: @Divaexplorer, Twitter:  @Divaexplorer1.
        </p>
</div>





{% endblock %}