{% extends "layout.html" %}

{% block title %}
    Archive
{% endblock %}

{% block main %}
		


<form action="/news" method="post">

   

  
    <!-- Start post Area -->
    <div class="post-wrapper pt-100">
        <!-- Start post Area -->
        <section class="post-area">
            <div class="container">
                <div class="row justify-content-center d-flex">
                    <div class="col-lg-8">
                        <div style="padding-bottom: 150px; padding-top: 150px;" class="post-lists search-list">
                           
                      {% for post in posts %}
                            <div class="single-list flex-row d-flex">
                                <div class="thumb">
                                    <div class="date">
                                        
                                        
                                        <span>{{post.posted_time.strftime('%B')[:3]}}</span><br>{{post.posted_time.strftime('%d')}}
                                    </div>
                                    <img src="static/img/asset/l3.jpg" alt="">
                                </div>
                                
                                <div class="detail">
                                	

                                	
                              
                                    <a href="{{url_for('main.post', post_id=post.id)}}"><h4 class="pb-20">{{ post.title }}<br></h4>
                                     </a>

                                     

                                    <p style="width: 500px; white-space:nowrap; overflow:hidden;text-overflow: ellipsis;">

                                        {{ post.content }}

                                    </p>

                                    <p class="footer pt-20">
                                   
                               
                                    </p>
                                </div>

                                
                            </div>

                            {% endfor %}
                                                      
                                                                                                 
                        </div>
                                                     
                    </div>
                   
                    <div class="col-lg-4 sidebar-area">
                        

                        <div class="single_widget about_widget">
                           
                            <h2 class="text-uppercase">Sharon Williams</h2>
                            <p>
                                Lorem ipsum dolor sit amet, eu qui modo expetendis reformidans ex sit set appetere sententiae seo eum in simul homero.
                            </p>
                            <div class="social-link">
                                <a href="https://www.facebook.com/pg/Divaexplorer.TVJ"><button class="btn"><i class="fab fa-facebook-f" aria-hidden="true"></i> Like</button></a>
                                <a href="https://twitter.com/divaexplorer1"><button class="btn"><i class="fab fa-twitter" aria-hidden="true"></i> follow</button></a>
                            </div>   
                        </div>
                    
                      
                         
                                                                     
                    </div>
                </div>
            </div>    
        </section>
        <!-- End post Area -->  
    </div>
    <!-- End post Area -->

</form>
    
{% endblock %}