{% extends "layout.html" %}

{% block title %}
    Prices
{% endblock %}

{% block main %}

  <div style="width: 100%;  
  min-height: 100vh;
  
  justify-content:left;
  
  padding: 150px;
  background: transparent;
  position: relative;
  z-index: 1;">
        <div class="container">
            <div class="row text-center">
                <h1 class="heading-title">Consultation Room Pricing</h1>
                
            </div>
            <div class="row">

                {% for consultation in consultations %}
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>{{consultation.title}}</h3>
                            </span>
                            <span class="price-value"><i class="fa fa-gbp"></i><span>{{consultation.price}}</span></span>
                            <span class="subtitle">Whatsapp & Skype</span>
                        </div>

                        <div class="pricingContent">
                           <p>{{consultation.desc}}</p>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                           
                            <a href="{{url_for('purchase.checkout', consultation_id=consultation.id)}}"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png" alt="Check out with PayPal" /></a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                {% endfor %}


                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Advice & other therapies</h3>
                            </span>
                            <span class="price-value"><i class="fa fa-gbp"></i><span>£££</span></span>
                            <span class="subtitle">Whatsapp & Skype </span>
                        </div>

                        <div class="pricingContent">
                            <p> <a href="/contact_us">Contact us</a> for more information about the price</p>
                        </div><!-- /  CONTENT BOX-->

                        
                    </div>
                </div>

             
            </div>
        </div>

        
    </div>


    

    {% endblock %}
