{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
		
<section id="home" data-parallax="scroll" data-image-src="static/img/header-bg.jpg">
				<div class="overlay-bg overlay"></div>
				<div class="container">
					<div class="row fullscreen">
							
																	
					</div>
				</div>
			</section>
			<!-- End banner Area -->
			


        <!--Start of welcome section-->
        <section id="welcome">
			
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wel_header">
                            <h2>welcome to Divaexplorer</h2>
                            <p>Get our services like: </p>
                        </div>
                    </div>
                </div>
				<!--End of row-->
				
                <div class="row">

					
                    <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                    <a href="/consultation_room"><div class="welcome_icon">
                                        <i class="fa fa-calendar"></i>
                                    </div></a>
                                    <h4>consultation room</h4>
                                    <p>Book a consultation with me via Whatsapp or Skype. You can have 1hr counselling session or up to 40 minutes Tarot card reading. Please enquire for more information.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of col-md-3-->
                    <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                    <a href="/blog"> <div class="welcome_icon">
                                        <i  class="fas fa-blog"></i>
                                    </div></a>
                                    <h4 >Blog</h4>
                                    <p>Daily blogs in about my like and mental health recovery in general.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of col-md-3-->
                    <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                    <div class="welcome_icon">
                                        <i class="fab fa-product-hunt"></i>
                                    </div>
                                    <h4>products</h4>
                                    <p>Coming soon!</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                    <div class="welcome_icon">
                                        <i class="fas fa-book"></i>
                                    </div>
                                    <h4>Stories</h4>
                                    <p>Coming soon!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    

					
			
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
		<!--end of welcome section-->
		
		<pre>

		</pre>

	
		
			<!-- Start Blog posts Area -->
			<section class="fashion-area section-gap" id="fashion">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Latest Blog Posts</h1>
								
							</div>
						</div>
					</div>
					
					
					<div class="row">
						{% for post in posts %}
						<div class="col-lg-3 col-md-6 single-fashion">
							<img class="img-fluid" src="static/img/l3.jpg" alt="">

				

							<p class="date">{{post.posted_time.strftime('%d')}} {{post.posted_time.strftime('%B')[:3]}} {{post.posted_time.strftime('%Y')}}</p>
							<h4><a href="{{url_for('blog.post', post_id=post.id)}}">{{ post.title }}</a></h4>
							<p style="width: 200px; white-space: nowrap; overflow:hidden;text-overflow: ellipsis;">
								{{ post.content }}
							</p>
							<div class="meta-bottom d-flex justify-content-between">
					
							</div>									
						</div>

						{% endfor %}
						
					</div>
				</div>	
			</section>
			<!-- End fashion Area -->


			
	
			
			
{% endblock %}