	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="static/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="Michal">
		<!-- Meta Description -->
		<meta name="description" content="Daily blogs in about my like and mental health recovery in general. Tarot Reading, Consultations and a lot more">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Divaexplorer</title>

		<link href="{{url_for('static', filename='contact_us.css')}}" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{{url_for('static', filename='linearicons.css')}}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link href="https//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
			
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
			
			<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
			<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
			<link href="{{url_for('static', filename='style.pricing.table.css')}}" rel="stylesheet">
			<link href="{{url_for('static', filename='checkout.css')}}" rel="stylesheet">

			<link   rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
		crossorigin="anonymous">









		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165300436-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-165300436-1');
        </script>

		


			
			

			
			
		</head>
		<body>

			

			<!-- Start Header Area -->
			<header class="default-header">
				
					<div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
						<div class="container">
							<nav class="navbar navbar-default zero_mp ">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									
									<p><a style="font-family: 'Pacifico', cursive; font-size:30px;" class="navbar-brand custom_navbar-brand" href="/">Divaexplorer</a></p>
								</div>
				<nav class="navbar navbar-expand-lg navbar-light">
					
					<div class="container">
						  
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
						    <ul class="navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/blog">Blog</a></li>
								<li><a href="/consultation_room">Consultations</a></li>
								<li><a href="/contact_us">Contact Us</a></li>
								<li><a href="/about">About</a></li>
								
								
								
															
						    </ul>
						  </div>						
					</div>
				</nav>
				
			</header>
			<!-- End Header Area -->

			{% block main %}{% endblock %}

		 <!--Start of footer-->
		 <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p class="col-lg-8 col-sm-12 footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
                                All rights reserved <br> Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by<a href="https://www.linkedin.com/in/michal-issa-aa687116b/" target="_blank"> Michal Issa</a></p>
						</div>
						
						
					</div>
					<div class="col-md-6">
                       
						
						

						<div class="designer">
							<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppcmcvdam.png" alt="Pay with PayPal Credit or any major credit card" />
						</div>
						

						
			
					   
						
						
					</div>
					
					
                  
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
		<!--End of footer-->	
		
		
	
		<script src="https://kit.fontawesome.com/db5979d331.js" crossorigin="anonymous"></script>



			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js"></script>
			<script src="{{url_for('static', filename='parallax.min.js')}}"></script>			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>		
				
			<script src="{{url_for('static', filename='jquery.sticky.js')}}"></script>
			<script src="{{url_for('static', filename='main.js')}}"></script>


			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 
		
			
			<script src="static/js/main.js"></script>
		</body>
	</html>