{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


<div style="width: 100%;  
min-height: 100vh;

justify-content:left;

padding: 200px;
background: transparent;
position: relative;
z-index: 1;">

<p>Thank you for your interest in our products.</p>
<p>We will get in touch with you shortly, and provide you with the information needed!</p>
<p>Note: You will receive an email about your order summary</p>
<p>If you have any question, Please contact us on divaexplorer@divaexplorer-tvj.co.uk</p>

</div>





{% endblock %}